data:
  already_preprocessed: False # True while simulating all cases
  batch_size: 256
  calc_stats: True
  data_dir: /media/miguel/Elements/ECCE_HCAL/hcal_pi+_log10continuous_1GeV-150GeV_10deg-30deg_07-21-23/ #### 160 46 40
  #data_dir: /media/miguel/Elements/zdc_data/zdc_neutron_log10continuous_10GeV-300GeV_0.0deg-0.5deg_staggered_h4_08_18/  ##106 35 35
  #data_dir: /media/miguel/Elements/ECCE_HCAL/hcal_ecal_ECCE_64Fe_pi+_log10continuous_1GeV-150GeV_10deg-30deg_09-27-23/ ## 120  ## 35  ## 1
  # data_dir: /usr/workspace/hip/eic/log10_Uniform_03-23/log10_pi+_100_10k_10-30deg_1/
  num_procs: 2
  num_train_files: 180
  num_val_files: 56
  num_test_files: 1 #0
  output_dir: /media/miguel/Elements/ECCE_HCAL/ECCE_ECAL_HCAL_model_theta_10-30/new_models_1Doutput_09-08/preprocessed_input4D_output1D_ECCE_deepsets_fromMainRepo
  #output_dir: /media/miguel/Elements/bishnu/zdc_models/preprocessed_input4D_output2D_ZDCFe_deepsets_newThetacut
  particle_type: pion
  preprocess: true
  shuffle: false
  num_features: 4 # Energy, z,x,y.
  hadronic_detector: hcal #zdc_Fe
  k: 10  # 5,10
  n_zsections: Null
  condition_zsections: False
  include_ecal: True
  output_dim: 1
model:
  block_type: deepsets  #deepsets #graphnet
  concat_input: true
  edge_block_opt:
    use_edges: true
    use_globals: true
    use_receiver_nodes: true
    use_sender_nodes: true
  global_block_opt:
    use_edges: false
    use_globals: true
    use_nodes: true
  node_block_opt:
    use_globals: true
    use_nodes: true
    use_received_edges: true
    use_sent_edges: false # going out of the node , check get edges.
  num_blocks: 1 # 2,3,4
  num_layers: 4 # 2,3,4
  latent_size:  64 #,128,256
  reducer: mean
training:
  epochs: 60 # 10 epochs, 10 tr, 5 v and 5 ts
  learning_rate: 0.001
  save_dir: /media/miguel/Elements/ECCE_HCAL/ECCE_ECAL_HCAL_model_theta_10-30/new_models_1Doutput_09-08/results_4D_output1D_ECCE_deepsets_FromMainRepo
  #save_dir: /media/miguel/Elements/bishnu/zdc_models/results_4D_output2D_ZDCFe_deepsets_newThetacut
